单一窗口/14.2014年3号海关总署关于发布进出境公路运输工具货运舱单电子传输报文格式V1.0的公告/附件1中国海关进出境公路运输工具货运舱单报文V1.0 XML Schema/Manifest_Tally_Export_Road_MT5402_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mft="urn:Declaration:datamodel:standard:CN:MT5402:1" xmlns:Head="Head" xmlns:Declaration="Declaration" xmlns:xdb="http://xmlns.oracle.com/xdb" targetNamespace="urn:Declaration:datamodel:standard:CN:MT5402:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="Head" schemaLocation="Type/Head.xsd"/>
	<xs:import namespace="Declaration" schemaLocation="Type/Declaration.xsd"/>
	<xs:element name="Manifest" type="mft:Manifest">
		<xs:annotation>
			<xs:documentation>公路出口理货报告申请</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Manifest">
		<xs:annotation>
			<xs:documentation>公路出口理货报告申请</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Head" type="mft:Head">
				<xs:annotation>
					<xs:documentation>报文头</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Declaration">
				<xs:annotation>
					<xs:documentation>报文体</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="mft:Declaration"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Head">
		<xs:annotation>
			<xs:documentation>报文头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MessageID" type="Head:HeadMessageIdentificationIDType">
				<xs:annotation>
					<xs:documentation>报文编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunctionCode" type="Head:HeadFunctionCodeType" fixed="2">
				<xs:annotation>
					<xs:documentation>报文功能代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MessageType" type="Head:HeadMessageTypeCodeType" fixed="MT5402">
				<xs:annotation>
					<xs:documentation>报文类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SenderID" type="Head:HeadSenderIdentificationIDType">
				<xs:annotation>
					<xs:documentation>发送方代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReceiverID" type="Head:HeadReceiverIdentificationIDType">
				<xs:annotation>
					<xs:documentation>接收方代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SendTime" type="Head:HeadSendDateTimeType">
				<xs:annotation>
					<xs:documentation>发送时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="Head:HeadVersionIDType">
				<xs:annotation>
					<xs:documentation>报文版本号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Declaration">
		<xs:annotation>
			<xs:documentation>报文体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DeclarationOfficeID" type="Declaration:DeclarationDeclarationOfficeIDType">
				<xs:annotation>
					<xs:documentation>065 Office of declaration,coded 进出境口岸海关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID" type="Declaration:DeclarationIdentificationIDType">
				<xs:annotation>
					<xs:documentation>D014 Declaration reference number 货物运输批次号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation" type="mft:AdditionalInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>补充信息数据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BorderTransportMeans" type="mft:BorderTransportMeans">
				<xs:annotation>
					<xs:documentation>运输工具数据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consignment" type="mft:Consignment" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>提（运）单数据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Control" type="mft:Control">
				<xs:annotation>
					<xs:documentation>控制信息数据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadingLocation" type="mft:LoadingLocation">
				<xs:annotation>
					<xs:documentation>装货地数据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Submitter" type="mft:Submitter">
				<xs:annotation>
					<xs:documentation>提交部门数据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnloadingLocation" type="mft:UnloadingLocation" minOccurs="0" maxOccurs="0">
				<xs:annotation>
					<xs:documentation>卸货地数据</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalInformation">
		<xs:annotation>
			<xs:documentation>补充信息/集装箱（器）残损说明数据</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Content" type="Declaration:AdditionalInformationContentTextType">
				<xs:annotation>
					<xs:documentation>105 Free text 备注</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BorderTransportMeans">
		<xs:annotation>
			<xs:documentation>运输工具数据</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TypeCode" type="Declaration:BorderTransportMeansTypeCodeType">
				<xs:annotation>
					<xs:documentation>T010 Mode/type of means of transport crossing the border,coded 运输方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportEquipment" type="mft:TransportEquipment" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>集装箱（器）信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportEquipment">
		<xs:annotation>
			<xs:documentation>集装箱（器）信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:TransportEquipmentIdentificationIDType">
				<xs:annotation>
					<xs:documentation>159 Equipment identification number 集装箱（器）编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation" type="mft:AdditionalInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>集装箱（器）残损说明数据</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Consignment">
		<xs:annotation>
			<xs:documentation>提（运）单数据</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrossVolumeMeasure" type="Declaration:ConsignmentGrossVolumeMeasureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>134 Cube 货物体积</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalPackageQuantity" type="Declaration:ConsignmentTotalPackageQuantityType">
				<xs:annotation>
					<xs:documentation>146 Total number of packages 货物总件数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GovernmentAgencyGoodsItem" type="mft:GovernmentAgencyGoodsItem">
				<xs:annotation>
					<xs:documentation>海关通关货物信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportContractDocument" type="mft:TransportContractDocument">
				<xs:annotation>
					<xs:documentation>运输合同信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GovernmentAgencyGoodsItem">
		<xs:annotation>
			<xs:documentation>海关通关货物信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsMeasure" type="mft:GoodsMeasure">
				<xs:annotation>
					<xs:documentation>货物毛重信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsMeasure">
		<xs:annotation>
			<xs:documentation>货物毛重信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrossMassMeasure" type="Declaration:GoodsMeasureGrossMassMeasureType">
				<xs:annotation>
					<xs:documentation>126 Gross weight item level 货物毛重</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportContractDocument">
		<xs:annotation>
			<xs:documentation>运输合同信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:TransportContractDocumentIdentificationIDType">
				<xs:annotation>
					<xs:documentation>D023 Transport document number 提（运）单号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Control">
		<xs:annotation>
			<xs:documentation>控制信息数据</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InspectionEndDateTime" type="Declaration:ControlInspectionEndDateTimeType">
				<xs:annotation>
					<xs:documentation>356 Inspection end date and/or time 理货结束时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspectionStartDateTime" type="Declaration:ControlInspectionStartDateTimeType">
				<xs:annotation>
					<xs:documentation>355 Inspection start date and/or time 理货开始时间</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoadingLocation">
		<xs:annotation>
			<xs:documentation>装货地数据</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:LoadingLocationIdentificationIDType">
				<xs:annotation>
					<xs:documentation>L010 Place of loading,coded 装货地代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Submitter">
		<xs:annotation>
			<xs:documentation>提交部门数据</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:SubmitterIdentificationIDType">
				<xs:annotation>
					<xs:documentation>R059 Submitter,coded 理货公司代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="mft:Contact" minOccurs="0">
				<xs:annotation>
					<xs:documentation>理货责任人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact">
		<xs:annotation>
			<xs:documentation>具体联系人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="Declaration:ContactNameTextType">
				<xs:annotation>
					<xs:documentation>246 Department or employee contact name 具体联系人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communication" type="mft:Communication" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>具体联系人通讯方式信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Communication">
		<xs:annotation>
			<xs:documentation>通讯方式信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:CommunicationIdentificationIDType">
				<xs:annotation>
					<xs:documentation>240 Communication number 通讯号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeID" type="Declaration:CommunicationTypeIDType">
				<xs:annotation>
					<xs:documentation>253 Communication number Type 通讯方式类别代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnloadingLocation">
		<xs:annotation>
			<xs:documentation>卸货地数据</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:UnloadingLocationIdentificationIDType">
				<xs:annotation>
					<xs:documentation>L013 Place of discharge,coded 卸货地代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
